* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

body {

    background: black;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin-top: 35px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

span {

    color: blueviolet;
    text-transform: capitalize;
}

h3 {
    line-height: 20px;
}

section {
    float: left;
    width: 25%;
    height: 280px;
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: 500;
    word-spacing: 3px;
    text-align: center;
    line-height: 25px;
    margin-top: 110px;
}

h3 {
    line-height: 70px;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 32px;


}



.formação {
    float: left;
    width: 25%;
    height: 280px;
    text-align: center;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    word-spacing: 3px;
    letter-spacing: 2px;
    line-height: 58px;
    text-transform: capitalize;
    position: relative;
    top: 108px;
    left: 65px;
}

.experiencia {

    float: right;
    width: 40%;
    height: 280px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 65px;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    top: 85px;
    right: 30px;
}

.cv {

    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    background: forestgreen;
    color: white;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    top: 600px;
    left: 410px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    text-decoration: none;
}


.rodapé {

    position: fixed;
    bottom: 100px;
    left: 15px;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
}


.footer {

    color: white;
    text-transform: capitalize;
    word-spacing: 1px;
    letter-spacing: 1px;
    position: relative;
    top: 150px;
    left: 30px;
}

.footer-image {

    position: relative;
    width: 620px;
    top: 30px;
    left: 530px;

}

@media screen and (max-width:768px) {

    h1 {
        color: #FFF;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        margin-right: 55px;

    }

    section {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;

    }

    h3 {

        color: #FFF;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        width: max-content;
        position: relative;
        bottom: 95px;
        left: 92px;
    }


    ul {
        position: relative;
        left: 9vh;
        bottom: 8vh;

    }


    .formação {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
        top: 50vh;
        left: -2px;

    }

    .h2-formação {
        color: #8A2BE2;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        width: 151px;
        position: relative;
        left: 25px;
        bottom: 90px;


    }

    .paragrafo-formação {


        width: 556px;
        color: #FFF;
        text-align: center;
        font-size: 23px;
        font-weight: 600;
        position: relative;
        right: 14vh;
        bottom: 8vh;



    }

    .paragrafo-formãcao2 {

        width: 414px;
        color: #FFF;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        position: relative;
        right: 8vh;
        bottom: 7vh;

    }

    .paragrafo-formação-3 {

        width: 336px;
        color: #FFF;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        position: relative;
        right: 5vh;
        bottom: 5vh;


    }

    .experiencia {

        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 86vh;
        right: 18vh;

    }

    .experiencia-h2 {

        color: #8A2BE2;
    }

    .paragrafo {
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        width: 524px;
        margin-left: 40px;

    }

    .paragrafo-free {

        width: 510px;
        color: #FFF;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        position: relative;
        right: 1vh;

    }
    

    .footer {

        color: #8A2BE2;
        font-size: 35px;
        font-weight: 700;
        position: relative;
        top: -69vh;
        left: -6vh;
    }

    .footer-image {

        position: relative;
        width: 500px;
        top: -65vh;
        left: 5px;
    }

    .cv {
        position: relative;
        top: 170vh;
        left: -5vh;
    
    
    }

    .rodapé{
        position: relative;
        top: 177vh;
    


    }






}